mason_simulator
minimap2/
pbsim2/
ecoli_reference.fasta
k_mer_index_k_*.pkl
*.tsv
*.fasta
*.fastq
*.maf
*.sam
*.ref
*.fai
__pycache__/
labeled_dataset_k11.csv
success_rate_histogram.png
dataset_check.py
training_data_*
